<table border="1" width="100%">
    <th>
        S.NO
    </th>
    <th>
        Image
    </th>
    <th>
        Details
    </th>
   <th>Delete</th>



    <tr *ngFor="let post of mapData let i = index">
    <td>{{i+1}}</td>
    <td><img src={{post?.image}} width="100px"> </td>
    <!-- <td>{{ post.cordinates}}</td>
    <td>{{ post.message }}</td> -->
   <td> <button routerLink="/fourth-page" (click)="view(post?._id)">View</button></td>
    <td><button (click)="deletemapimg(post?._id)">Delete</button>
    </td> 
   </tr> 
        
     
</table>