<!-- <div class="d-flex justify-content-center">
  <div class="image-container">
    <img #image (mousedown)="onMouseDown($event)" (mousemove)="onMouseMove($event)" (mouseup)="onMouseUp()" style="display: none;">
    <canvas #selectionCanvas (mousedown)="onMouseDown($event)" (mousemove)="onMouseMove($event)" (mouseup)="onMouseUp()"></canvas>
  </div>
</div> -->
<div class="container-fluid">

  <h2> image-mapping </h2>

  <form (ngSubmit)="onSubmit()">
    <div class="form-group">
      <p>&nbsp;</p>
      <input type="file" class="form-control-file" id="image" accept="image/*" (change)="onFileChange($event)">
      <!-- <img src="gs://office-map-c94f2.appspot.com/yt/componenet one.png"> -->
      <button type="submit">submit</button>
    </div>
  </form>

  <!-- <div><img src="{{mapData.image}}" alt="" #image> -->
 
</div>